USE [TURISTEAR_CR]
GO
/****** Object:  Table [dbo].[VOLUNTARIADO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOLUNTARIADO](
	[ID_VOLUNTARIADO] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[ID_TIPO_VOLUNTARIADO] [int] NOT NULL,
	[HORAS_SEMANALES] [int] NOT NULL,
	[DESCRIPCION] [varchar](500) NOT NULL,
	[PERFIL_VOLUNTARIO] [varchar](500) NOT NULL,
	[VACANTES] [int] NOT NULL,
	[ENCARGADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VOLUNTARIADO] PRIMARY KEY CLUSTERED 
(
	[ID_VOLUNTARIADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[VOLUNTARIADO] ([ID_VOLUNTARIADO], [ID_DESTINO], [ID_TIPO_VOLUNTARIADO], [HORAS_SEMANALES], [DESCRIPCION], [PERFIL_VOLUNTARIO], [VACANTES], [ENCARGADO]) VALUES (1, 2, 1, 10, N'Limpiar baños', N'Cooperador', 5, N'Raul Molina Guardaparques')
INSERT [dbo].[VOLUNTARIADO] ([ID_VOLUNTARIADO], [ID_DESTINO], [ID_TIPO_VOLUNTARIADO], [HORAS_SEMANALES], [DESCRIPCION], [PERFIL_VOLUNTARIO], [VACANTES], [ENCARGADO]) VALUES (2, 2, 2, 15, N'Limpiar senderos', N'Trabajador', 3, N'Raul Molina Guardaparques')
/****** Object:  Table [dbo].[VISITANTE]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITANTE](
	[ID_VISITANTE] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
 CONSTRAINT [PK_VISITANTE] PRIMARY KEY CLUSTERED 
(
	[ID_VISITANTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VISITANTE] ([ID_VISITANTE], [ID_ROL]) VALUES (1, 2)
/****** Object:  Table [dbo].[USUARIO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO1] [nvarchar](50) NOT NULL,
	[APELLIDO2] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[EDAD] [int] NOT NULL,
	[TELEFONO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_DIRECCION], [NOMBRE], [APELLIDO1], [APELLIDO2], [CORREO], [EDAD], [TELEFONO]) VALUES (1, 1, N'Fernanda', N'Fernandez', N'Ocampo', N'xfer@gmail.com', 21, 89765432)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_DIRECCION], [NOMBRE], [APELLIDO1], [APELLIDO2], [CORREO], [EDAD], [TELEFONO]) VALUES (2, 2, N'Miguel Angel', N'Gonzalez', N'Gutierrez', N'migue9210@gmail.com', 21, 85626111)
/****** Object:  Table [dbo].[TIPO_VOLUNTARIADO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_VOLUNTARIADO](
	[ID_TIPO_VOLUNTARIADO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_VOLUNTARIADO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_VOLUNTARIADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPO_VOLUNTARIADO] ([ID_TIPO_VOLUNTARIADO], [NOMBRE]) VALUES (1, N'Social')
INSERT [dbo].[TIPO_VOLUNTARIADO] ([ID_TIPO_VOLUNTARIADO], [NOMBRE]) VALUES (2, N'Ecologico')
/****** Object:  Table [dbo].[ROL_USUARIO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_USUARIO](
	[ID_ROL] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ROL_USUARIO] ([ID_ROL], [ID_USUARIO]) VALUES (1, 1)
INSERT [dbo].[ROL_USUARIO] ([ID_ROL], [ID_USUARIO]) VALUES (2, 2)
/****** Object:  Table [dbo].[PUBLICACION]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICACION](
	[ID_PUBLICACION] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[ID_COMENTARIO] [int] NOT NULL,
 CONSTRAINT [PK_PUBLICACION] PRIMARY KEY CLUSTERED 
(
	[ID_PUBLICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID_PROVINCIA] [int] NOT NULL,
	[ID_PAIS] [int] NOT NULL,
	[NOMBRE_PROVINCIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PROVINCIA] ([ID_PROVINCIA], [ID_PAIS], [NOMBRE_PROVINCIA]) VALUES (1, 1, N'Cartago')
INSERT [dbo].[PROVINCIA] ([ID_PROVINCIA], [ID_PAIS], [NOMBRE_PROVINCIA]) VALUES (2, 1, N'San Jose')
INSERT [dbo].[PROVINCIA] ([ID_PROVINCIA], [ID_PAIS], [NOMBRE_PROVINCIA]) VALUES (3, 1, N'Alajuela')
/****** Object:  Table [dbo].[PAIS]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID_PAIS] [int] NOT NULL,
	[NOMBRE_PAIS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PAIS] PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PAIS] ([ID_PAIS], [NOMBRE_PAIS]) VALUES (1, N'Costa Rica')
/****** Object:  Table [dbo].[INSCRIPCION]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSCRIPCION](
	[ID_INSCRIPCION] [int] NOT NULL,
	[ID_VOLUNTARIADO] [int] NOT NULL,
	[ID_ADMINISTRADOR] [int] NOT NULL,
	[ID_VISITANTE] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[DISPONIBILIDAD] [varchar](50) NOT NULL,
	[FECHA] [date] NOT NULL,
	[DETALLE] [varchar](200) NOT NULL,
 CONSTRAINT [PK_INSCRIPCION] PRIMARY KEY CLUSTERED 
(
	[ID_INSCRIPCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[INSCRIPCION] ([ID_INSCRIPCION], [ID_VOLUNTARIADO], [ID_ADMINISTRADOR], [ID_VISITANTE], [ID_DESTINO], [DISPONIBILIDAD], [FECHA], [DETALLE]) VALUES (1, 1, 1, 1, 2, N'Lunes-Miercoles', CAST(0x9D380B00 AS Date), N'Poseo conocimeintos de guia')
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[ID_DIRECCION] [int] NOT NULL,
	[ID_CIUDAD] [int] NOT NULL,
	[DETALLE] [varchar](50) NOT NULL,
	[CODIGO_POSTAL] [int] NOT NULL,
 CONSTRAINT [PK_DIRECCION] PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIRECCION] ([ID_DIRECCION], [ID_CIUDAD], [DETALLE], [CODIGO_POSTAL]) VALUES (1, 1, N'Costado Sur de la Basilica', 30702)
INSERT [dbo].[DIRECCION] ([ID_DIRECCION], [ID_CIUDAD], [DETALLE], [CODIGO_POSTAL]) VALUES (2, 2, N'Volcan Irazu', 30893)
INSERT [dbo].[DIRECCION] ([ID_DIRECCION], [ID_CIUDAD], [DETALLE], [CODIGO_POSTAL]) VALUES (3, 3, N'100 mts este del templo colonial', 29203)
/****** Object:  Table [dbo].[DESTINO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DESTINO](
	[ID_DESTINO] [int] NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NOT NULL,
	[CLASIFICACION] [int] NOT NULL,
 CONSTRAINT [PK_DESTINO] PRIMARY KEY CLUSTERED 
(
	[ID_DESTINO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DESTINO] ([ID_DESTINO], [ID_DIRECCION], [NOMBRE], [DESCRIPCION], [CLASIFICACION]) VALUES (1, 1, N'Cafe Basilica', N'Cafeteria y restaurante', 4)
INSERT [dbo].[DESTINO] ([ID_DESTINO], [ID_DIRECCION], [NOMBRE], [DESCRIPCION], [CLASIFICACION]) VALUES (2, 2, N'Parque Nacional Volcan Irazu', N'Parque Nacional, Entrada $2 nacionales $5 extranjeros', 5)
/****** Object:  Table [dbo].[CONSEJO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONSEJO](
	[ID_CONSEJO] [int] NOT NULL,
	[ID_COMENTARIO] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[DESCRIPCION] [varchar](500) NOT NULL,
	[CALIFICACION] [int] NOT NULL,
 CONSTRAINT [PK_CONSEJO] PRIMARY KEY CLUSTERED 
(
	[ID_CONSEJO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID_COMENTARIO] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[MENSAJE] [varchar](500) NOT NULL,
	[FECHA] [date] NOT NULL,
 CONSTRAINT [PK_COMENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_COMENTARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_DESTINO], [MENSAJE], [FECHA]) VALUES (1, 1, N'Muy buenos los capuchinos', CAST(0x9D380B00 AS Date))
INSERT [dbo].[COMENTARIO] ([ID_COMENTARIO], [ID_DESTINO], [MENSAJE], [FECHA]) VALUES (2, 2, N'Grandes Paisajes', CAST(0x9D380B00 AS Date))
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ID_CIUDAD] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE_CIUDAD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[ID_CIUDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CIUDAD] ([ID_CIUDAD], [ID_PROVINCIA], [NOMBRE_CIUDAD]) VALUES (1, 1, N'Cartago   ')
INSERT [dbo].[CIUDAD] ([ID_CIUDAD], [ID_PROVINCIA], [NOMBRE_CIUDAD]) VALUES (2, 1, N'Oreamuno  ')
INSERT [dbo].[CIUDAD] ([ID_CIUDAD], [ID_PROVINCIA], [NOMBRE_CIUDAD]) VALUES (3, 1, N'Orosi     ')
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 06/06/2014 16:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMNISTRADOR] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
 CONSTRAINT [PK_ADMINISTRADOR] PRIMARY KEY CLUSTERED 
(
	[ID_ADMNISTRADOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMINISTRADOR] ([ID_ADMNISTRADOR], [ID_ROL]) VALUES (1, 1)
/****** Object:  ForeignKey [FK_DIRECCION_DIRECCION]    Script Date: 06/06/2014 16:57:47 ******/
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCION_DIRECCION] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [FK_DIRECCION_DIRECCION]
GO
