<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://turistear.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Turistear</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Turistear</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TuristeAHWo1bw5FConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User ID=Turistear@qqyjnm19qw;Password=Solaris2014" Name="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:cd9gihd1t6.database.windows.net,1433;Initial Catalog=TuristeAHWo1bw5F;User ID=TuristearCR@cd9gihd1t6;Password=Solaris2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TuristeAHWo1bw5FConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:cd9gihd1t6.database.windows.net,1433;Initial Catalog=TuristeAHWo1bw5F;User ID=TuristearCR@cd9gihd1t6;Password=Solaris2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TURISTEAR_CRConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User ID=Turistear@qqyjnm19qw;Password=Solaris2014" Name="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FAMILIAFDEZO\BD2;Initial Catalog=TURISTEAR_CR;User ID=sa;Password=Solaris2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TURISTEAR_CRConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=FAMILIAFDEZO\BD2;Initial Catalog=TURISTEAR_CR;User ID=sa;Password=Solaris2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User ID=Turistear@qqyjnm19qw;Password=Solaris2014" Name="Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Prueba_1-20140621152957.mdf;Initial Catalog=aspnet-Prueba_1-20140621152957;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Prueba_1-20140621152957;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Prueba_1-20140621152957.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TuristeAHWo1bw5FConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TURISTEAR_CRConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qqyjnm19qw.database.windows.net,1433;Initial Catalog=Turistear;User Id=Turistear@qqyjnm19qw;Password=Solaris2014</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>